<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/font_fxj84ab6z7m/iconfont.css">
</head>
<body>
    <nav>
        <ul>
            <!-- <li>咖啡</li>
            <li>饮食</li>
            <li>正餐</li>
            <li>男装</li>
            <li>女装</li>
            <li>眼镜</li>
            <li>鞋靴</li> -->
        </ul>
    </nav>
    <div class="banar">
        <div class="warper">
            <div class="warp">
                <img class="show" src="../images/banar/a.jpg">
                <img src="../images/banar/b.jpg">
                <img src="../images/banar/c.jpg">
                <img src="../images/banar/d.jpg">
                <img src="../images/banar/e.jpg">
            </div>
        </div>
        <div class="control">
            <div class="control-btn left"><i class="iconfont icon-next1"></i></div>
            <div class="control-btn right"><i class="iconfont icon-next"></i></div>
        </div>
    </div>
    <div class="content">
        <ul>
            <!-- <li>
                <img src="../images/coffee.jpg" alt="">
                <p class="content-title">手冲咖啡6杯装 (定制款)</p>
                <p></p><span class="price">￥ 59</span><span class="hot">爆品</span></p>
            </li> -->
            
        </ul>
    </div>

    <div class="coffee">
        
    </div>

    <div class="fix">
        <ul>

        </ul>
    </div>

    <div class="top">返回顶部</div>
</body>
</html>
<script src="../js/jq/jquery.js"></script>
<script src="../js/loading1.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/home.js"></script>