<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">咖啡</a></li>
            <li><a href="#">饮食</a></li>
            <li><a href="#">正餐</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">女装</a></li>
            <li><a href="#">眼镜</a></li>
            <li><a href="#">鞋靴</a></li>
        </ul>
    </nav>
    <div class="banar">
        <div class="warp">
            <img src="../images/banar/a.jpg">
            <img src="../images/banar/b.jpg">
            <img src="../images/banar/c.jpg">
            <img src="../images/banar/d.jpg">
            <img src="../images/banar/e.jpg">
        </div>
        <div class="control">
            <div class="control-btn left"></div>
            <div class="control-btn right"></div>
        </div>
    </div>
</body>
</html>