<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/font_t3fuiieu4tb/iconfont.css">
    <link rel="stylesheet" href="../css/productpage.css">
</head>
<body>
    <div class="content">
        <div class="content-left">
            <button class="back"><i class="iconfont icon-zuojiantouxiangzuoxianxing"></i> 返回</button>
            <div class="operation">
                <div class="img">
                    <img src="../images/coffee.jpg" alt="">
                    <div class="mark"></div>
                    
                </div>
                <div class="bigImg">
                    <img src="../images/coffee.jpg" alt="">
                </div>
            </div>
            <div class="smImg">
                <!-- <img src="../images/coffee.jpg">-->
            </div>

        </div>
        <div class="content-right">
            <div class="shop">
                <p class="title">手冲咖啡6杯装</p>
                <p class="manufactor">星巴克咖啡</p>
                <p class="price">￥ 59</p>
                <p class="icon"><i class="iconfont icon-xing1"></i><i class="iconfont icon-xing1"></i><i class="iconfont icon-xing1"></i><i class="iconfont icon-xing1"></i><i class="iconfont icon-xing">3.7</i></p>
                <button class="btn">添加到购物车</button>
            </div>
        </div>
    </div>
    <div class="similar-goods">
        <div class="recommend">
            相似商品推荐
        </div>
        <div class="section">
            <ul>
                <!-- <li>
                   <img src="../images/coffee.jpg" alt="">
                   <p class="content-title">手冲咖啡6杯装 (定制款)</p>
                   <p></p><span class="price">￥ 59</span><span class="hot">爆品</span></p>
               </li> -->
               
           </ul>
        </div>
        
    </div>
</body>
</html>
<script src="../js/jq/jquery.js"></script>
<script src="../js/productpage.js"></script>