<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/font_1mk2jvx0m5f/iconfont.css">
</head>
<body>
    <form class="login">
        <div class="control">
            <input class="username control-btn" type="text" placeholder="用户名"><i class="iconfont icon-xingmingyonghumingnicheng"></i>
            <p class="name-error">请输入8-12位用户包含数字 大小字母 下划线</p>
        </div>
        <div class="control">
            <input class="password control-btn" type="password" placeholder="密码">
            <i class="iconfont icon-mima"></i>
            <p class="password-error">请输入8-16位密码</p>
        </div>
        <div class="control">
            <button class="btn  control-btn">注册</button>
        </div>
    </form>
</body>
</html>
<script src="../js/jq/jquery.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/loading1.js"></script>
<script src="../js/register.js"></script>